html
    head
        link(rel="stylesheet", href="/static/style.css")
        title Contact Me!
    body
    nav
        ul
            li
                a(href="/") Home Page
            li
                a(href="/contact") Contact me!
            li
                a(href="/github") My Github page
            li
                a(href="/experience") My past works!
            li
                a(href="/interests") A few personal interests.
    h1= `${data.basics.name}, (${data.basics.label})`
    img(src=`${data.basics.picture}`)
    p It me!
    h4= `You can contact me at ${data.basics.email}!`
    h5= `Prefer to call me instead? My phone number is ${data.basics.phone}`