html
    head
        link(rel="stylesheet", href="/static/style.css")
        title Contact Me!
    body
    nav.navbar
        ul
            li
                a(href="/") Home Page
            li
                a(href="/contact") Contact me!
            li
                a(href="/github") My Github page
            li
                a(href="/experience") Works
            li
                a(href="/interests") About me!

    .info
        h1= `${data.basics.name}, (${data.basics.label})`
        img(src=`${data.basics.picture}`)
        p It's me!
        h4= `You can contact me at ${data.basics.email}!`
        h5= `Prefer to call me instead? My phone number is ${data.basics.phone}`